# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/chlooggp/chloerest"
PassengerBaseURI "/"
PassengerNodejs "/home/chlooggp/nodevenv/chloerest/24/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
